{
    "swagger": "2.0",
    "info": {
        "description": "The API to interact with cardinal discord bot database.",
        "title": "Cardinal API",
        "contact": {
            "name": "API Support",
            "email": "gyroskan@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "0.1"
    },
    "host": "cardinal.gyroskan.com:5005",
    "basePath": "/api/v1",
    "paths": {
        "/guilds": {
            "get": {
                "description": "Fetch all guilds.",
                "tags": [
                    "Guilds"
                ],
                "summary": "Get Guilds",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/guilds/": {
            "post": {
                "description": "Create a new Guild",
                "tags": [
                    "Guilds"
                ],
                "summary": "Create guild",
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/guilds/{guildID}": {
            "get": {
                "description": "Fetch a specific guild",
                "tags": [
                    "Guilds"
                ],
                "summary": "Get guild",
                "parameters": [
                    {
                        "type": "string",
                        "description": "guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "fetch members",
                        "name": "members",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "delete": {
                "description": "Delete a guild",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Delte guild",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "206": {
                        "description": "No Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Fountd"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "patch": {
                "description": "Update fields of a guild",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Update guild values",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Guild modifications",
                        "name": "guild",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Guild"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Fountd"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/guilds/{guildID}/channels": {
            "get": {
                "description": "Fetch all channels of the guild.",
                "tags": [
                    "Channels"
                ],
                "summary": "Get Guild channels",
                "parameters": [
                    {
                        "type": "string",
                        "description": "guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "post": {
                "description": "Create a new channel for a guild.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Create channel",
                "parameters": [
                    {
                        "type": "string",
                        "description": "guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Channel values",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Channel"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created member",
                        "schema": {
                            "$ref": "#/definitions/models.Member"
                        }
                    },
                    "400": {
                        "description": "Wrong values"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/guilds/{guildID}/channels/{channelID}": {
            "get": {
                "description": "Fetch the channel of the guild.",
                "tags": [
                    "Channels"
                ],
                "summary": "Get one Guild Channel",
                "parameters": [
                    {
                        "type": "string",
                        "description": "guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "channel id",
                        "name": "channelID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "delete": {
                "description": "Delete a guild channel",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Delete guild channel",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Channel id",
                        "name": "channelID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "206": {
                        "description": "No Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Fountd"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "patch": {
                "description": "Update fields of a guild's channel",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Update channel values",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Channel id",
                        "name": "channelID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Fountd"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/guilds/{guildID}/members": {
            "get": {
                "description": "Fetch all members of the guild.",
                "tags": [
                    "Members"
                ],
                "summary": "Get Guild Members",
                "parameters": [
                    {
                        "type": "string",
                        "description": "guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "description": "limit to fetch",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "0",
                        "description": "higher last id fetched",
                        "name": "after",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "post": {
                "description": "Create a new member from a guild.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Create member",
                "parameters": [
                    {
                        "type": "string",
                        "description": "guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Member values",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Member"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created member",
                        "schema": {
                            "$ref": "#/definitions/models.Member"
                        }
                    },
                    "400": {
                        "description": "Wrong values"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/guilds/{guildID}/members/reset": {
            "post": {
                "description": "Reset level and xp for all guild's members.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Reset guild's members",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Member reset"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/guilds/{guildID}/members/{memberID}": {
            "get": {
                "description": "Fetch the member of the guild.",
                "tags": [
                    "Members"
                ],
                "summary": "Get one Guild Member",
                "parameters": [
                    {
                        "type": "string",
                        "description": "guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "member id",
                        "name": "memberID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "delete": {
                "description": "Delete a guild member",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Delete guild member",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Member id",
                        "name": "memberID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "206": {
                        "description": "No Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Fountd"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "patch": {
                "description": "Update fields of a guild's member",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Update member value",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "memberID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Fountd"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/guilds/{guildID}/members/{memberID}/reset": {
            "post": {
                "description": "Reset level and xp for the specific guild's members.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Reset member from a guild",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "memberID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Member reset"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/guilds/{guildID}/reset": {
            "post": {
                "description": "Reset guild parameters to default values. Do not change members values.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Reset guild",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Guild id",
                        "name": "guildID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/users/": {
            "get": {
                "description": "Get a list of existing users",
                "tags": [
                    "Users"
                ],
                "summary": "Get Users",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/users/login": {
            "post": {
                "description": "Login to get user token",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Login user",
                "parameters": [
                    {
                        "description": "username",
                        "name": "username",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "password",
                        "name": "password",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "login invalid"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/users/register": {
            "post": {
                "description": "Create a new user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Register user",
                "parameters": [
                    {
                        "description": "User values",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.UserCreation"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created user",
                        "schema": {
                            "$ref": "#/definitions/models.User"
                        }
                    },
                    "400": {
                        "description": "Wrong values"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/users/{username}": {
            "get": {
                "description": "Get a specific user",
                "tags": [
                    "Users"
                ],
                "summary": "Get User",
                "parameters": [
                    {
                        "type": "string",
                        "description": "username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "post": {
                "description": "Update User access level",
                "tags": [
                    "Users"
                ],
                "summary": "Update User access level",
                "parameters": [
                    {
                        "type": "string",
                        "description": "username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "access_level",
                        "name": "access_level",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "NotFound"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "delete": {
                "description": "Delete definitively the user.",
                "tags": [
                    "Users"
                ],
                "summary": "Delete User",
                "parameters": [
                    {
                        "type": "string",
                        "description": "username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "NotFound"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "patch": {
                "description": "Update specified User fields",
                "tags": [
                    "Users"
                ],
                "summary": "Update User",
                "parameters": [
                    {
                        "type": "string",
                        "description": "username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "fields to modify",
                        "name": "userModif",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.UserModification"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Invalid values"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "NotFound"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/users/{username}/ban": {
            "delete": {
                "description": "Update User ban. POST to unbann, DELETE to ban.",
                "tags": [
                    "Users"
                ],
                "summary": "Ban User",
                "parameters": [
                    {
                        "type": "string",
                        "description": "username",
                        "name": "username",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "NotFound"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        }
    },
    "definitions": {
        "models.Channel": {
            "type": "object",
            "properties": {
                "channelID": {
                    "type": "string"
                },
                "guildID": {
                    "type": "string"
                },
                "ignored": {
                    "type": "boolean"
                },
                "wpBlacklisted": {
                    "type": "boolean"
                }
            }
        },
        "models.Guild": {
            "type": "object",
            "properties": {
                "allowModeration": {
                    "type": "boolean"
                },
                "banTime": {
                    "type": "integer"
                },
                "disabledCommands": {
                    "$ref": "#/definitions/nulltype.NullString"
                },
                "guildID": {
                    "type": "string"
                },
                "guildName": {
                    "type": "string"
                },
                "lvlChannel": {
                    "$ref": "#/definitions/nulltype.NullString"
                },
                "lvlReplace": {
                    "type": "boolean"
                },
                "lvlResponse": {
                    "type": "integer"
                },
                "maxWarns": {
                    "type": "integer"
                },
                "members": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Member"
                    }
                },
                "prefix": {
                    "type": "string"
                },
                "privateWelcomeMsg": {
                    "$ref": "#/definitions/nulltype.NullString"
                },
                "reportChannel": {
                    "$ref": "#/definitions/nulltype.NullString"
                },
                "welcomeChannel": {
                    "$ref": "#/definitions/nulltype.NullString"
                },
                "welcomeMsg": {
                    "$ref": "#/definitions/nulltype.NullString"
                }
            }
        },
        "models.Member": {
            "type": "object",
            "properties": {
                "guildID": {
                    "type": "string"
                },
                "joinedAt": {
                    "$ref": "#/definitions/nulltype.NullTime"
                },
                "left": {
                    "type": "integer"
                },
                "level": {
                    "type": "integer"
                },
                "memberID": {
                    "type": "string"
                },
                "xp": {
                    "type": "integer"
                }
            }
        },
        "models.User": {
            "type": "object",
            "properties": {
                "accessLvl": {
                    "type": "integer"
                },
                "banned": {
                    "type": "boolean"
                },
                "createdAt": {
                    "type": "string"
                },
                "discordID": {
                    "$ref": "#/definitions/nulltype.NullString"
                },
                "email": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "models.UserCreation": {
            "type": "object",
            "properties": {
                "discordID": {
                    "$ref": "#/definitions/nulltype.NullString"
                },
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "models.UserModification": {
            "type": "object",
            "properties": {
                "discordID": {
                    "$ref": "#/definitions/nulltype.NullString"
                },
                "email": {
                    "type": "string"
                },
                "oldPassword": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "nulltype.NullString": {
            "type": "object"
        },
        "nulltype.NullTime": {
            "type": "object"
        }
    }
}